{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ 'titleWelcomeLouvre'|trans }}</h1>
   <hr>    
<p>{{ "descriptionMuseum1"|trans }}</p>

<p>{{ "descriptionMuseum2"|trans }}</p>

<div class="text-center">
    <form action="booking">
    <input type="submit" value={{ "wordTicketing"|trans }} />

</form>
</div>

{% endblock %}